@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /*--background-start-rgb: 241, 247, 249;*/
  /*--background-end-rgb: 255, 255, 255;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .cm-line-highlight {
    background-color: #ccd7da50 !important;
  }
  .text-block-highlight {
    box-shadow: 2px 2px 2px gray;
  }
  .preview-branch-node {
    -webkit-filter: drop-shadow(3px -3px 2px #c6ebd480);
    filter: drop-shadow(3px -3px 2px #c6ebd480);
  }
  /* ... */
}

[contenteditable]:focus {
  outline: 0px solid transparent;
  /* outline-style */
  /* caret-color: #c8f4d1; */
}

.text-security-disc {
  -webkit-text-security: disc;
}

.selectedStyleButtonStyle {
  text-decoration-color: #c8f4d1;
  color: black;
}
.MuiFormControl-root .MuiSvgIcon-root {
  font-size: 12px !important;
}
.reason-p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #4a5568;
}
